html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Rubik Mono One', sans-serif;
}

nav {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1;
}
nav .number {
  position: relative;
  display: inline-block;
  margin: 10px;
  width: 30px;
  height: 30px;
  font-size: 10px;
  border-radius: 15px;
  background-color: lightgrey;
}
.number a {
  color: black;
  text-decoration: none;
}

.box {
  position: relative;
  height: 100vh;
  width: 100%;
}

#victoria {
  background-color: red;
  color: yellow;
}
#tommy {
  background-color: green;
  color: yellow;
}
#allstar {
  background-color: yellow;
  color: green;
}

.box img {
  height: 50%;
}

.centering {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.box .text::before {
  content: 'il nostro modello di punta';
}

.box .text {
  text-transform: uppercase;
  top: 80%;
  max-width: 250px;
  text-align: center;
}
